@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");

* {
  font-family: "Rozha One", serif;
  font-size: 1.1rem;
}

.login {
  margin-right: 1rem;
}

.sign {
  /* margin-right: 10px; */
  margin-right: 1rem;
}

.button-search {
  background-color: white;
  color: black;
  border-color: rgb(0, 0, 0);
}

.carousel {
  height: 60vh;
}

.home:hover a {
  color: blueviolet;
  transform: scale(1.2);
}

.suscribe:hover a {
  color: deepskyblue;
  transform: scale(1.2);
}

.shop:hover a {
  color: greenyellow;
  transform: scale(1.2);
}

.exclusives:hover a {
  color: aquamarine;
  transform: scale(1.2);
}

.about-us:hover a {
  color: yellow;
  transform: scale(1.2);
}

.login:hover a {
  color: rgb(255, 0, 170);
  transform: scale(1.2);
}

.sign:hover a {
  color: aqua;
  transform: scale(1.2);
}

@media (max-width: 992px) {
  .home:hover a {
    transform: none;
  }
  .suscribe:hover a {
    color: deepskyblue;
    transform: none;
  }

  .shop:hover a {
    color: greenyellow;
    transform: none;
  }

  .exclusives:hover a {
    color: aquamarine;
    transform: none;
  }

  .about-us:hover a {
    color: yellow;
    transform: none;
  }

  .login:hover a {
    color: rgb(255, 0, 170);
    transform: none;
  }

  .sign:hover a {
    color: aqua;
    transform: none;
  }
}

@media (max-width: 500px) {
  .carousel {
    height: 25vh;
  }
}
